[2021-09-23 18:35] hectorhdzg commented on #846
@exhaler are you using any @azure or @opentelemetry packages as well in your project?, OpenTelemetry packages are currently being used to support automatic tracking of Azure SDK operations, we fixed several issues caused by mismatches of OpenTelemetry packages being used by this SDK and Azure SDKs, please give it a try using latest version for this SDK and other Azure SDKs you may be using.

[2021-09-23 19:18] exhaler commented on #846
@hectorhdzg Thank you!! We were using an old version of @azure/storage-blob when I updated it everything worked 👍

[2021-09-23 19:18] #846 closed

[2021-09-29 12:12] antpuleo2586 commented on #820
I think I have a similar issue.

We have a mobile app which talks to a GraphQL layer which in turn calls our backend APIs.

We want to correlate the operation ID from the mobile app through GraphQL and to backend.

However, this doesn't work and calling `startOperation` always creates a new operation ID.

After a call with Microsoft support, we debugged the `startOperation` function and made the f

[2021-09-29 13:35] f0o commented on #820
@antpuleo2586 sounds very similar to my PR https://github.com/microsoft/ApplicationInsights-node.js/pull/817

[2021-09-29 13:44] antpuleo2586 commented on #820
@f0o It looks similar for sure, but as per the comments from @hectorhdzg , whether a stricter check is required on ` if (traceContext)` and then if this fails, allowing to pass into the next check on `headers` (but with headers appropriately retrieved from the `request`) this may be the solution with less of an impact on existing behaviour (although I'm now confused as to what exactly the existing

[2021-10-05 18:48] hectorhdzg commented on #788
@jonathanblancor I'm not familiar with sveltekit framework, did you got this working?, is there a specific issue with our SDK you are having?

[2021-10-08 06:53] leidegre commented on #609
Is there a limitation in the ingestion endpoint that is preventing this feature or some other consideration that is preventing this from being implemented? It looks to me that it's just another field in the bond files and types that needs to get mapped? Are there other important things to take into consideration when you use namespaces?

[2021-10-08 23:50] vpetersen opened #852 "Could not find ICACLS in expected location! This is necessary to use disk retry mode on Windows."
We are getting this error when trying to write custom logs to application insights. After some testing, it appears that the variable is case-sensitive. While it's not an issue with the Windows host it appears to be an issue within the code itself. Have anyone seen this behavior? I was also wondering what the scenario was that causes that error to appear. Is it only when it fails to connect success

[2021-10-12 23:06] hectorhdzg commented on #852
@vpetersen disk retry will basically try to put telemetry in disk whenever Application Insights ingestion endpoint is not available, there is a check to make the file not accessible to other users in the machine, which version of Windows are you using?, SDK is [looking](https://github.com/microsoft/ApplicationInsights-node.js/blob/develop/Library/Sender.ts#L21) for icacls.exe in system32 folder, i

[2021-10-12 23:40] vpetersen commented on #852
It's an Azure Function running on a Windows app service plan. The application exists and I can run it through the KUDO console but the SDK is throwing this error.

[2021-10-13 00:15] hectorhdzg commented on #852
@vpetersen you should be able to turn disk retry off to avoid noise using [setUseDiskRetryCaching](https://github.com/microsoft/ApplicationInsights-node.js/blob/develop/applicationinsights.ts#L329) method, I believe Azure Functions doesn't allow you to persist data to disk so most likely this feature will not work correctly in there, I will follow up with Azure Functions teams to see if this could

[2021-10-13 00:28] vpetersen commented on #852
okay just to confirm, the only time we will see this issue if the sdk is unable to connect to application insights to send the data?

[2021-10-14 17:59] roncli opened #853 "Invalid URL: http:/"
Since v2.1.6's release, I have been receiving the error `Invalid URL: http:/` occasionally on seemingly normal requests to my web servers.  It is rare, inconsistent, and unable to be reliably reproduced.  When this error happens, the error crashes the application, shutting it down.  (It's in a Docker container, so the restart is handled gracefully by Docker.)

Here is the error:

[code]

This is t

[2021-10-21 17:38] #853 closed, assigned to nobody

[2021-10-21 18:13] #852 closed, assigned to nobody

[2021-10-27 09:54] wictorwilen opened #862 "Application insights prohibits/delays a simple node project to exit"
When using `applicationinsights@2.1.8` any command line node application does not timely exit. After the application completes it actually takes over 2 minutes before going back to the shell.

This is a sample JavaScript file to demonstrate the issue:

[code]

And the output looks like the following, and shows that the execution took 2 minutes and 16 seconds
![image](https://user-images.githubuser

[2021-10-29 22:24] #862 closed

[2021-10-31 18:10] russosalv opened #864 "trackMetric do not works"
Using application insight in Node 16 enviroment
trackMetric do not works, it's seems that data are sent ot application insight but also waiting ingestion time it do no appear on Azure

[2021-11-01 21:27] diberry opened #865 "Question: why do I get track() requires telemetry object and telemetryType to be specified."
For the following code:

[code]

[2021-11-01 21:42] hectorhdzg commented on #865
@diberry [trackPageView](https://github.com/microsoft/ApplicationInsights-node.js/blob/develop/Library/TelemetryClient.ts#L67) have a required parameter you are not sending

More info about the parameter [here](https://github.com/microsoft/ApplicationInsights-node.js/blob/b4fccadf2d645a6c3e305c65729e6608b7bb1ba9/Declarations/Contracts/TelemetryTypes/PageViewTelemetry.ts#L6)

[2021-11-01 21:45] hectorhdzg commented on #864
@russosalv can you add more details about the custom metric you are sending?, you should be able to see custom metrics querying customMetrics table
![image](https://user-images.githubusercontent.com/39923391/139746165-5d5fab8f-51b4-4f7a-836c-75c16ae57430.png)

[2021-11-02 07:40] russosalv commented on #864
hi @hectorhdzg  ys sure,

i'm using nestjs framework i created a injectable that manage the application insight, then it is used in other service or controller.

Application Insight service:

[code]

and here is where used:

[code]

as per comment in the code

- trackTrace works great
- trackMetric NOT

i noted also that during execution on log appear a strange error

[code]

pls note also that ap

[2021-11-03 17:24] hectorhdzg commented on #864
Thanks @russosalv, just one thing I noticed is that you are creating another telemetry client apart from the default one created during "setup" method, this is usually the case when people want to send to multiple Application Insights resources, you can simplify your code a little bit just using the defaultClient where all the configurations are applied, the error you are seeing in logs is because

[2021-11-03 19:24] russosalv commented on #864
Hi @hectorhdzg  thx for your suggest;
are you talk about to modify code in that way?

[code]

here some metric name and value that i'm sendig
[query_data.csv](https://github.com/microsoft/ApplicationInsights-node.js/files/7470197/query_data.csv)
ng

[2021-11-05 23:14] hectorhdzg commented on #864
@russosalv  yes please use only the defaultClient to avoid having multiple clients unless you really need them, following code works perfectly for me, can you try to add setInternalLogging to see if there is any warning log in the console.

[code]

[2021-11-06 15:05] russosalv commented on #864
Hi @hectorhdzg

i did some test with .setInternalLogging(true,true), here atached:

[code]

[2021-11-08 17:07] hectorhdzg commented on #864
Thanks for the logs @russosalv, issue with your metrics is that you are sending the name as number instead of string and telemetry is being rejected on the ingestion endpoint, please convert it to string before sending and let me know how it goes.

[2021-11-09 23:19] russosalv commented on #864
Hi @hectorhdzg

i tried to chenge it but i'm still having the issue

[code]

[2021-11-11 19:09] hectorhdzg commented on #864
@russosalv are you getting different errors now in the logs?, the issue before was the following:
ApplicationInsights:Sender [
  `{"itemsReceived":2,"itemsAccepted":1,"errors":[{"index":0,"statusCode":400,"message":"106: Field 'name' on type 'DataPoint' is of incorrect type. Expected: string, Actual: 676514475"}]}`
]

Please take a look to see if there is some other error coming from ingestion end

[2021-11-15 18:13] #609 closed

[2021-11-19 11:56] apotterri opened #871 "Data loss at process exit"
Expected behavior: if there is unsent data when the process is exiting, `TelemetryClient.flush({callback: cb})` should send it, and call `cb` once it's sent.

Actual behavior: `cb` only called when there's no unsent data.

PR #746 made `Sender.send` async: https://github.com/microsoft/ApplicationInsights-node.js/pull/746/files#diff-8f8fde719f491d55f9740db69f902f6c192818ea548949e483d6193051832e46L1

[2021-11-19 18:29] hectorhdzg commented on #871
@apotterri you can use isAppCrashing flag to force flush to run synchronously, we have that flag to be able to capture exception telemetry when there is an unhandled error in the app

`
appInsights.defaultClient.flush({
    isAppCrashing: true, callback: () => {
        console.log("Callback done");
    }
});
console.log("Process Done");
`

[2021-11-19 19:40] apotterri commented on #871
Hi @hectorhdzg. Thanks for this. I looked at `isAppCrashing`, but it doesn't really match my use case.

Setting it to `true` causes `isNodeCrashing` to be `true` here:
https://github.com/microsoft/ApplicationInsights-node.js/blob/c13a78d900be17f000992c2a2fbfb162062c5271/Library/Channel.ts#L89

So, by my reading, flush doesn't send the HTTP request synchronously. Instead, the data gets written to d

[2021-11-19 20:13] hectorhdzg commented on #871
@apotterri that is correct I just realized it will not be actually send to ensure telemetry is not lost, flush method is asynchronous but we only support callbacks to handle that, not promises, the behavior your are seeing is by design, we are working on moving to use promises instead and we already started in internal APIs but updating public APIs like flush method will generate breaking changes,

[2021-11-19 21:18] SteveSheldonQ2 opened #872 "2.1.9 enabled verbose logging globally for azure libraries"
We have a nodejs program that uses @azure/storage-queue in addition to @azure/applicationinsights.   This is all running in a docker container using nodejs 16.  When we upgraded @azure/applicationinsights from 2.1.8 to 2.1.9, we started seeing verbose logging out of @azure/storage-queue package.   When running the docker container locally this is all going to the console, but we also noticed the D

[2021-11-20 17:20] apotterri commented on #871
Ok, thanks very much. I've got a workaround in place that's good enough for now.

We'll look at upgrading when the new release comes out.

[2021-11-21 19:29] FlipABit commented on #872
I can confirm were seeing this in our azure functions as well after deploying 2.1.9. Were getting millions of traces from the node service bus library and the logs are categorized as`Host.Function.Console` with severity level `Information` and every line of every message is an individual log entry (not correlated). We should be able to use the function host setting to at least set the filter that

[2021-11-22 06:22] kh-yash opened #873 "ApplicationInsights timesout in Azure DevOps build task (node.js)"
I have developed an azure devops task extension that is installed in our pipeline. This task sends telemetry to Azure App Insights to record metrics and events. App Insights js library is throwing the following error in some of the builds.

ApplicationInsights:AzureVirtualMachine [ { Error: connect ETIMEDOUT 169.254.169.254:80
at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1107:14)
errno:

[2021-11-23 14:57] dornfeder commented on #871
Hi There, can i ask how you did your workaround? Having a similar problem ATM...

[2021-11-23 15:34] apotterri commented on #871
@dornfeder It's not great. I'm basically doing:

[code]
which will get me the events most of the time.

[2021-11-27 02:38] gvsakhil opened #874 "Application Insights is not working with Express"
- I tried to activate Application Insights from Azure app service and it didnt worrk
- I tried adding applicationinsights package to my NodeJS project but still Http Requests are not being captured

My Code:
[code]

[2021-11-29 20:32] hectorhdzg commented on #874
@gvsakhil following code works perfectly for me, please give it a try
[code]

[2021-11-29 22:17] hectorhdzg commented on #873
@kh-yash the SDK will make a call to Azure Metadata service to enhance telemetry with extra properties when running in Azure environments like App Services or Azure Functions, this doesn't affect any functionality when it fails

[2021-11-30 03:34] kh-yash commented on #873
@hectorhdzg What kind of properties are these? Is there a way to prevent sending these properties to avoid seeing any such timeouts in logs?

Also, to clearly understand, are you saying that this particular timeout wouldn't break any functionality and the telemetry (custom events) that is being pushed to Application Insights would still be pushed?

[2021-12-02 00:35] #872 closed

[2021-12-02 15:37] guy-microsoft opened #877 "Some dependencies are not tracked with applicationinsights 1.8.10"
I use applicationinsights package version 1.8.10 and I use @azure/storage-blob package version 12.8.0, and the dependency requests to Azure Storage are not tracked.
Due to compatibility issues I'm not upgrading to applicationinsights 2.X.X and staying with 1.8.10, and I would like to know if it's possible to make it track dependencies to Azure Storage when I'm using the following combination:
@azu

[2021-12-02 16:07] guy-microsoft opened #878 "Severe performance issues with applicationinsights 2.1.9"
While we tried to migrate from applicationinsights 1.8.10 to applicationinsights 2.1.9, we noticed some severe performance issues regarding both CPU usage and RAM usage.
We noticed the issues when we did testing to compare the performance of the 2 versions.
**The only difference in the test setup is the version of applicationinsights package. **
The observed issues:
1. Performance of our entire ap

[2021-12-07 14:11] jeromewir commented on #345
For anyone still having this issue, I've found a way to use it properly if you are using `trackRequest` (might work for other methods but I haven't check)

You can pass the variable `time` (JS Date) in the `trackRequest` method which will be used at the start time of the request on app-insights.

[2021-12-07 17:08] hectorhdzg commented on #877
@guy-microsoft we fixed several issues with automatic dependency tracking in Azure SDK and must be available in latest version of the SDK, can you explain a little bit more about compatibility issues you are having preventing you to upgrade?

[2021-12-07 17:11] hectorhdzg commented on #878
Thanks for reporting this @guy-microsoft this is definitely really interesting, we are not aware of any performance issues with latest version of the SDK, is there any reproducible environment you can share?, more info about the implementation of the SDK and other external dependencies would be useful as well for us to investigate further.

[2021-12-07 17:12] #874 closed

[2021-12-07 17:14] hectorhdzg commented on #865
Feel free to raise another question if you need more details

[2021-12-07 17:14] #865 closed

[2021-12-07 17:41] diberry commented on #865
In case anyone else comes across this issue, the code should be `appInsights.trackPageView({name: 'some page'});`

[2021-12-07 18:37] hectorhdzg commented on #873
@kh-yash that is correct this timeout will not break any functionality and your data must be sent, I believe this timeout will be logged only when debug logs are turned on, at least in latest version of the SDK, you can use setInternalLogging(false, true) to only enable warnings to be logged.

[2021-12-08 06:20] gvsakhil commented on #874
This worked for me when using socket.io

Make sure to use
`http.createServer(app)`
instead of
`http.Server(app)`

[code]

[2021-12-08 17:27] guy-microsoft commented on #878
Hi @hectorhdzg , we encountered this issue with NodeJS versions 14.18.2 and 16.13.1 in a K8S cluster.
My application is performance driven, handling a few dozens of requests every second. Each request results in making several requests to our dependencies from the application. The Application insights SDK is used for tracking dependencies, as well as for traces.

[2021-12-17 21:31] vinnieking06 opened #882 "Server Response Time Chart rendering incorrect data with version 2.2.0"
I upgraded from 1.8.10 to 2.2.0 and then in the Application Insights Dashboard overview, our server responses times dropped to 1ms. They normally are about 200ms and after the upgrade, they showing about 1ms.

Here is the 6 hour view. The upgrade to 2.2.0 was deployed around 1pm:
![Screen Shot 2021-12-17 at 2 28 20 PM](https://user-images.githubusercontent.com/18544837/146610053-0fad3fa6-22a8-401a

[2022-01-10 10:02] bivas6 opened #883 "Azure Service Bus dependency messages have no context"
Hi,
We're using AI to track our app, and everything works as expected except service-bus messages.
We have http endpoint which receives a request, then sends a message on the service bus.
All the logs in this function and http/s requests have the same context in the AI as the incoming http request, but the service-bus outgoing message looks like a stand-alone dependency without a parent and contex

[2022-01-14 12:08] PaulWild commented on #744
Is this something that is still on the roadmap?  I ask as this issue has been open for a while and I was looking for this functionality.

[2022-01-16 09:31] orgads commented on #883
@hectorhdzg ping

[2022-01-16 10:41] bivas6 commented on #883
Code example:

[code]

This is a snippet from Azure portal if I clicked the 'get to Google' dependency:
![image](https://user-images.githubusercontent.com/40261105/149656638-4d1efa9c-c654-4ec3-873f-a76860d4ec54.png)

And this is what I see if I clicked the 'ServiceBus Message' dependency:
![image](https://user-images.githubusercontent.com/40261105/149656673-bc83a20d-13f3-4446-9ea3-0c33eff2d5bc.png

[2022-01-18 15:22] MohammedFoysal opened #886 "Http Dependency missing path"
We've found that in the event a http dependency is auto tracked with a hostname but is missing the host, the path and query string is missing from app insights. For example for this request `https://testapp.com/create?user=534` app insights will log data `https://testapp.com` and for the name `GET /`.

Instead of logging the name as `GET /create` and the full path as `https://testapp.com/create?us

[2022-01-19 11:44] ybAttGit opened #888 "dependency node-forge version causes SCA (veracode) issue CVE-2022-0235 Detail"
I would like to ask to upgrade the dependency node-fetch to 3.1.1 as it solves the Veracode SCA issue:
"node-fetch is vulnerable to information disclosure. The vulnerability exists due to the cookie header being leaked to third-party site."
Here is the dependency tree for app insights 2.2.0:
+-- applicationinsights@2.2.0
| +-- @azure/core-http@2.2.2
| | +-- node-fetch@2.6.6

[2022-01-19 15:40] dhensby opened #889 "ECONNRESET errors when trying to send logs"
I'm running an NodeJS [Function App](https://azure.microsoft.com/en-gb/services/functions/) in Azure, making use of Application Insights to perform application layer logging. This is deploying via [Zip Deployment](https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push) which means the file system is *read only* and so disk retry is not an option.

I'm seeing a high frequency of

[2022-01-19 15:50] dhensby commented on #889
I have also been directed towards the "standard" retry logic that is implemented in other Azure SDKs (https://github.com/Azure/azure-sdk-for-js/blob/dbd1a3a2e88ce43e650bfaed347898f8e2e77d69/sdk/core/core-http/src/policies/systemErrorRetryPolicy.ts#L101) that show how different errors are automatically handled and retried.

A similar type of approach may be appropriate in this library.

[2022-01-20 13:23] PJBCoetzer opened #890 "ECONNRESET - Does not gracefully throw error, but crashes web app"
ECONNRESET - Does not gracefully throw error, but crashes web app

We have a NodeJS app running as a Azure Web App Service on a Linux based App Service Plan. (configured to be running as always on).

Setup:
- NodeJS 16
- App Service Plan (Linux)
- Redis (Azure managed hosted service)
- Application Insights (Azure managed hosted service)

Packages:
- express 4.17.2
- dotenv 14.2.0
- redis 4.0.2
- a

[2022-01-20 23:08] hectorhdzg commented on #744
@philliphoff  Following code could achieve what you are looking for with current version of the SDK
`
appInsights.setup("123").start();

appInsights.defaultClient.addTelemetryProcessor((envelope) => {
    console.log(envelope);
    return false; // Data will not be sent
});
`

[2022-01-21 23:56] hectorhdzg commented on #890
@PJBCoetzer this could be prevented disabling console patching using environment variable APPLICATION_INSIGHTS_NO_PATCH_MODULES more info [here](https://github.com/microsoft/ApplicationInsights-node.js#automatic-third-party-instrumentation), if you have the actual error we can fix this on node-diagnostic-channel package, not seeing how the code could throw an error so any extra info would be reall

[2022-01-22 00:14] hectorhdzg commented on #882
@vinnieking06 is this still happening on your side?, are you sampling any data?, if you are not please disabled pre aggregated metrics to ensure this is not causing the issue, you can use setAutoCollectPreAggregatedMetrics(false) more info [here](https://github.com/microsoft/ApplicationInsights-node.js#configuration), please let us know the results.

[2022-01-22 00:15] hectorhdzg commented on #864
@russosalv please let me know if this is still an issue on your side

[2022-01-23 10:48] russosalv commented on #864
Hi Hector
i still have the issue,
i'm trying to updated the package to latest (if exist)
but currently i'm not receive any metrics on application Insight using
TrackMetric

*Salvatore Alessandro Russo*
***@***.***

Il giorno sab 22 gen 2022 alle ore 01:15 Hector Hernandez <
***@***.***> ha scritto:

[2022-01-24 19:56] #883 closed

[2022-01-24 20:09] #864 closed

[2022-01-24 21:16] #886 closed

[2022-01-26 07:05] orgads commented on #883
Thank you @hectorhdzg. Do you plan to publish a new release soon?

[2022-01-26 16:27] vinnieking06 commented on #882
@hectorhdzg Yes it's still happening, and yes we are sampling. Here are out sampling settings:
appInsights.defaultClient.config.samplingPercentage = 33;
Since we are sampling 33%, do you still recommend trying to disable pre aggregated metrics?

[2022-01-26 16:57] hectorhdzg commented on #883
@orgads we plan to release early next week

[2022-01-26 18:31] vinnieking06 commented on #882
@hectorhdzg A response time of 0-2ms would be impossible for our app, since we make a call an api that takes at least 90ms. Also, when you click on the performance graph and it goes to full screen, and then refresh the data, the data looks good, as is shown here:
![Screen Shot 2022-01-26 at 11 31 06 AM](https://user-images.githubusercontent.com/18544837/151224658-47ce45ce-06e2-4e65-8777-705d5f765a

[2022-01-27 17:54] hectorhdzg commented on #882
@vinnieking06 can you query your Request data and take a look at the duration in there? I would like to understand where the incorrect data could be generated. Also are you using multiple TelemetryClients in your app?

[2022-01-27 21:38] vinnieking06 commented on #882
@hectorhdzg, it looks good when I query it. Low 100ms, which is what we expect.
![Screen Shot 2022-01-27 at 2 37 37 PM](https://user-images.githubusercontent.com/18544837/151447811-a5bf22c1-097c-44da-8f68-b378ac02d984.png)

[2022-01-27 21:42] vinnieking06 commented on #882
Here is the raw data. Most are in the 100 range, but I did see a couple that were around 40 and one that was like 1ms.
![Screen Shot 2022-01-27 at 2 41 35 PM](https://user-images.githubusercontent.com/18544837/151448343-6147431d-69b5-4cc4-91c9-be5ac8f52d49.png)

[2022-01-27 22:32] vinnieking06 commented on #882
@hectorhdzg As for using multiple TelemtryClients, yes, we also send logs to splunk.

[2022-01-31 13:27] bivas6 commented on #883
Hi @hectorhdzg

I tried to run the example app from above with your fix in it, and the rest request doesn't hold the service-bus message as dependency, In addition, now the service-bus messages not shown at all in the AI UI.

Can you check it?

Thanks

cc: @orgads

[2022-01-31 14:53] nulltoken opened #896 "Automatically tracked dependencies are tracked _twice_ from time to time"
:wave:,

We're building a product which acts as a reverse proxy and relays incoming requests to remote backends.
Everything is instrumented through ApplicationInsights SDK for Nodejs (https://github.com/microsoft/ApplicationInsights-node.js).

We've just discovered a weird behavior. While analyzing the telemetry stored in ApplicationInsights, for a very small percentage (0.07%) of the traffic, it

[2022-01-31 17:13] orgads commented on #883
@hectorhdzg 7.4.0

[2022-01-31 18:41] hectorhdzg commented on #883
@bivas6, @orgads , I can see everything working fine with exact same code you shared and using @azure/service-bus 7.4.0, validated using a tarball generated from develop branch

![image](https://user-images.githubusercontent.com/39923391/151853023-2d728a5c-80c6-4393-a0f6-a02693ea56fb.png)

[2022-01-31 20:24] orgads commented on #883
I just tried again now, and it doesn't work for me.

I tried Node 16.13 and 17.4, both on Windows.

That's what I get:
![image](https://user-images.githubusercontent.com/1246544/151867330-c519035d-6e17-4ad1-999d-eb4217738581.png)

[2022-01-31 20:29] hectorhdzg commented on #883
@orgads do you have any OpenTelemetry package as dependency in your project?

[2022-01-31 20:31] orgads commented on #883
No. I have only the packages that I `require` directly. What else should I install?

[2022-01-31 20:41] orgads commented on #883
hmmm... I tried on Linux now with Node 17.4.0, and it does show the send message request, but it is still not connected to the http request:

![image](https://user-images.githubusercontent.com/1246544/151869797-21428f2c-4feb-493c-b4ab-1753abaa5e52.png)

[2022-01-31 20:48] orgads commented on #883
Sorry, these tests on linux were with version 2.2.0. With latest develop it's the same as on Windows (no ServiceBus at all).

This is my package.json (I published my own package from develop):
[code]

[2022-02-01 21:28] tschissler opened #898 "AI events are not transmitted before app ends"
I have a Node.js console app using the readline-sync which is waiting for user input.
If I track some events in my code, none of them are visible in the portal, only when the execution is completed fully, all of them are transmitted at once.

A simplified version of this problem is shown below. How could I transmit the name when input for the age is waiting for minutes or even hours?

[code]

[2022-02-02 23:07] hectorhdzg commented on #898
@tschissler sorry I don't know how readline-sync works, not sure if this could be fixed in our side, looks like something is preventing the track and flush code to be executed. I would recommend you to provide a callback in flush [method](https://github.com/microsoft/ApplicationInsights-node.js/blob/develop/Library/TelemetryClient.ts#L147), so you can block the execution after the telemetry was fl

[2022-02-02 23:18] hectorhdzg commented on #878
@guy-microsoft we fixed some issues with memory leaks when live metrics is enabled, and we did a lot of perf profiling to understand impact in normal circumstances, we found a few perf impacted areas, like regex and JSON parsing as expected but these will never cause a 50% CPU increase, please give it a try using newer version of the SDK, also if you enable live metrics you could see performance d

[2022-02-03 11:19] DevRCRun opened #901 "Node 16 compatibility?"
Can I please confirm the module is Node16 compatible?

The "Supported Node.JS versions" lists versions up to 15 currently.

Many thanks

[2022-02-03 12:48] guy-microsoft commented on #878
Thanks @hectorhdzg , I will test my scenarios with the newest version of the SDK.

[2022-02-03 13:56] orgads commented on #883
@hectorhdzg were you able to reproduce? Can I provide you any more information?

[2022-02-03 17:09] hectorhdzg commented on #883
@orgads still no repro on my side, can you try with latest version of Application Insights SDK?, we published yesterday, can you turn logging and share the logs if you still have the problem?

[2022-02-03 21:54] tschissler commented on #898
Thank you @hectorhdzg
That did the trick. My code looks now like this and it works as expected.

[code]

[2022-02-03 21:54] #898 closed

[2022-02-06 15:43] bivas6 opened #903 "Service Bus Messages Have No Context #2"
Hi,

We are using AI to track our system. We have service that receive some info in REST, and post it on Azure Service Bus,
and other services consume this message.
The send/receive of the same message have different operation ID, and they looks like they have different context.

In addition,  the received message have different context than other http/s requests and logs on the same flow. Every t

[2022-02-08 01:26] link89 opened #907 "Question: how to access original telemetry event in memory"
Hi, would like to use ApplicationInsights to monitor the outbound http(s) requests and keep those telemetry data in memory to analysis at the end of the script so that I can visualize those data to analysis the request/response times, etc.
I have read the document and find that maybe I can use the `appInsights.defaultClient.addTelemetryProcessor` for this purpose, but I am not sure if it is the ri

[2022-02-08 12:44] wictorwilen opened #908 "Error: connect ETIMEDOUT error when used in node.js"
I get the following error in my node.js application after the application is supposed to end. It's a node.js application (14.7.6) running in WSL2.
It successfully sends multiple traces, but after complete it times out for a minute and half.

This is the log from AI:

[code]

[2022-02-09 11:25] orgads commented on #903
@hectorhdzg Did you have a chance to look into this?

[2022-02-09 17:21] hectorhdzg commented on #903
@bivas6, @orgads, Application Insights SDK will try to use the correlation context using incoming HTTP request headers, in this case receiver doesn't have any trace headers, is making a new outgoing HTTP request to Service Bus so a new context will be created, I guess you could add some correlation properties in the actual Service Bus message to be able to associate the telemetry but not much we c

[2022-02-10 22:22] hectorhdzg commented on #908
ETIMEDOUT is by design, we try to call local IP in Azure environments to get information about the machine, if you run outside of Azure you will see this error once, regarding the error with 400 response, it means you are trying to send telemetry with really old timestamps, do you get consistent repro of that?, to avoid app to not end immediately you can configure the SDK to not use HTTP Agent wit

[2022-02-10 22:23] hectorhdzg commented on #907
@link89 that is correct, telemetry processor will expose the telemetry envelope before is sent and it also have HTTP request and response, and error when applicable. You must be able to hook into that and store whatever you need in memory.

[2022-02-10 22:23] #907 closed

[2022-02-11 07:53] wictorwilen commented on #908
Thanks. We can ignore the 400 issue - I got that covered.

**But** the ETIMEDOUT scares me - what you're saying is that AI is not designed to work outside of Azure - and I **MUST** wait for it to call the local IP in Azure environments.

[2022-02-11 17:39] johnib commented on #908
That's not true. I use AI in AWS, it works the same as in Azure's VMs.

The endpoint they are trying to call contains additional metadata about the VM, Azure region etc.

It's not necessary.

[2022-02-11 22:10] AXLLLOW opened #912 "401 errors are not ignored in any way"
Hello, I have a problem.

(I already read it https://github.com/microsoft/ApplicationInsights-node.js#preprocess-data-with-telemetry-processors)

[code]

**And usage:**
[code]

But if I make a request to my API, where I check for authorization, and if we are not authorized, I throw
[code]

Locally if I get `401` errors then they are not sent to _applicationInsights_ (My filter sees `responseCode =

[2022-02-12 10:22] wictorwilen commented on #908
@johnib - gotcha, It has been working without this timeout for years for me. I do think that there should be an option to opt-out of this behaviour, as in my case I'm not tracking any VM or Azure usage.

[2022-02-15 07:36] auxfix opened #913 "ApplicationInsights crashes on the container start with the ((TypeError: api_1.createContextKey is not a function)) excption"
**our setup**
  - Azure App Service
  - Docker
 - node:10.16.0
 - we use ssh inside docker
 - we are trying to telemetry node.js api with ApplicationInsights-node_

when we did everything locally following by this instruction
**_https://docs.microsoft.com/en-us/azure/azure-monitor/app/nodejs_**

 - we could see all telemetry on the app insight portal in the azure portal tab.
- but when we started

[2022-02-15 07:53] r0tc opened #914 "Reporting bunyan error traces fails after 2.1.9 release"
Changes introduced in [the commit](https://github.com/microsoft/ApplicationInsights-node.js/commit/ebb35e0f22b0b665fd6efc87c7c1c4ed110f6c87) made reporting errors in `err` property failing. After parsing bunyan message, one can get log.err object (which is custom error class extending Error) like:
`{
    "message": "Error message",
    "name": "CustomHttpException",
    "stack": "CustomHttpExcepti

[2022-02-15 08:09] auxfix commented on #913
One observation. without app insight install i have the following dependency chain in my `yarn-lock`

[code]
|
|
|
\|/

[code]

**### but after installation of the app insight npm i have got:**

[code]
|
|
|
|
\|/

[code]

could not it be some  way of conflict between: "@opentelemetry/api@^1.0.1" and "@opentelemetry/api@^1.0.4":

[2022-02-15 22:42] hectorhdzg commented on #913
@auxfix are you getting any error while installing your dependencies?, there are no breaking changes with @opentelemetry/api versions you have, looks like the package is not even there by looking at the error, can you verify if the code is available in node_modules folder?, I tried to reproduce using @azure/storage-queue with no luck.

[2022-02-16 03:58] auxfix commented on #913
Hi @hectorhdzg! Thank you so much for so fast response!!!!  **applicationinsights** npm is in the package.json. Actually, as soon as I add it there it started crashing inside of the container in App Service. (again locally all is perfect) You know, i will do the following thing, i will deploy my code, connect to the docker by SSH, and will look inside my **package.json** and **node_modules** folde

[2022-02-16 07:59] auxfix commented on #913
Hi @hectorhdzg, unfortunately, i could not connect to the Docker container because appinsight crash right on the node start, and do not let the container start. But here the logs which i have right before the crash:

**### NO ID] 2022-02-16 07:45:51 [32minfo[39m: !!!!appInsightConnectionString = InstrumentationKey=00000000-00000-00000-0000000000;IngestionEndpoint=https://westeurope-1.in.applicat

[2022-02-17 18:42] #914 closed

[2022-02-18 03:18] eeropenttinen commented on #913
I had a similar issue. The solution [here](https://stackoverflow.com/questions/69303827/appinsights-setup-start-returns-an-error) resolved my issue. I updated the version of @azure/storage-blob and that did the trick.

[2022-02-18 08:21] nulltoken commented on #896
@hectorhdzg I know there's not a lot of meat in this issue. However, it keeps on happening. How could we try and tackle this?

[2022-02-21 14:38] bivas6 commented on #903
For those who needs it, this is the solution we used:

[code]

[2022-02-21 14:41] orgads commented on #903
@hectorhdzg Is it possible for you to hook in `subscribe` automatically? We didn't add any data to the message, and just used `applicationProperties[Diagnostic-Id]`.

[2022-02-23 10:20] auxfix commented on #913
Hi guys, my attempt to upgrade the old SDK package will be delayed cause the new package API is quite different, and i need time to rewrite a service that is using it. So it is up to the administration to decide to keep this issue open or close it when i will be able to apply the upgrade and will have a result.

I only want to add what is was communicating with the Azure support in parallel, and t

[2022-02-23 12:43] danmana opened #916 "Application Insights can't be enabled from Azure Portal on App Service Linux + Node 16"
The [Application Insights blade](https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps-nodejs?tabs=linux#auto-instrumentation-through-azure-portal) is greyed out in Azure Portal for App Service.

Auto instrumentation should be possible, according to docs it is [GA ready](https://docs.microsoft.com/en-us/azure/azure-monitor/app/codeless-overview).

App Service OS: Linux
App: Node

[2022-02-24 17:33] Mike-Fink-Jr commented on #566
running into the same issue, I need to create a  correlating context outside of express (in a MQ) and all examples just assume a context is already created and getCorrelationContext() just returns null @shatodj did u figure this out

[2022-02-24 17:58] JasonFreeberg commented on #916
Hi @danmana -- The UX will be enabled next week.

Node 16 was released on App Service as an "Early Access" stack and was only recently built-in to the platform. Now that's out of Early Access, we're enabling the UX.

More about Early Access on App Service: https://github.com/Azure/app-service-linux-docs/blob/master/Runtime_Support/early_access.md

[2022-02-25 08:44] shatodj commented on #566
Hey @Mike-Fink-Jr . YES. We used `appInsights.wrapWithCorrelationContext` function that will provide the correlation context for us. So we created our own wrapper function like this:

[code]

I hope that helps.

[2022-03-01 00:11] #901 closed

[2022-03-01 20:51] orgads commented on #903
@hectorhdzg ping?

[2022-03-01 21:16] hectorhdzg commented on #903
@orgads the way we hook to Azure SDKs is through [@azure/core-tracing](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/core/core-tracing) package, we do not do any patching for specific SDKs, looks like "subscribe" functionality is only present in Azure Service Bus, we are planning to introduce full support for OpenTelemetry in this SDK that should handle this scenario because Azure SDKs a

[2022-03-01 21:17] orgads commented on #903
Ok, thanks a lot.

[2022-03-08 20:16] hectorhdzg commented on #916
Should be enabled now

[2022-03-08 20:16] #916 closed

[2022-03-14 02:31] nonoxp commented on #878
Hi @guy-microsoft ,
Did you have a chance to test it with the newest version yet?
I think our team is in the same situation.
After fiddling with the package versions and the telemetry collection settings, I also suspect something wrong happening with the dependency tracking, leading to nasty CPU increases and impact on the service eventually.
(applicationinsights 2.1.4 / nodejs 14.17.4 on top of a

[2022-03-14 06:57] guy-microsoft commented on #878
Hi @nonoxp I made some quick testing and it seemed to me that the issues are not resolved, but I would like to test it more deeply to make sure they indeed haven't.

[2022-03-14 20:29] hectorhdzg commented on #878
@nonoxp, @guy-microsoft let us know how it goes, this is not a wide issue affecting everyone, we tested using Azure Storage, Azure Datatable SDKs and Redis calls, and performance was fine, if you can do some perf profiling and share the results we may understand better what exactly is causing the problem on your side.

[2022-03-15 08:50] nulltoken commented on #896
@hectorhdzg What would be the next steps according to you?

[2022-03-15 11:56] guy-microsoft commented on #878
@hectorhdzg I will try to make CPU profiling later this month and I will share the results with you.

[2022-03-15 21:26] hectorhdzg commented on #896
@nulltoken in failed dependencies log you shared, both events are the same except the custom properties, one have "headers.out" and the other doesn't, I guess you are adding that in one of the telemetryProcessors you have in there, can you share more details about it? also which version of node.js runtime are you using?, I suspect the problem could be related to the events we [listen](https://gith

[2022-03-17 00:08] jpolvora commented on #744
"123" as AI key Is valid  ? @hectorhdzg or perhaps applications insights will be disabled as is an invalid key ?

[2022-03-17 02:56] jpolvora commented on #912
According to docs, the azure auto-instrumentation will be disabled if AI SDK is found and running into the node.js app.

In this case, I would recommend turn off auto-intrumentation (node in-processs) Application Insights, and let only the SDK enabled on app level.

[2022-03-17 17:46] hectorhdzg commented on #744
@jpolvora regex validating the iKey is available [here](https://github.com/microsoft/ApplicationInsights-node.js/blob/develop/Library/Config.ts#L198, "123" is not valid but you can use dummy ones like "00000000-0000-0000-0000-000000000000", the important part here would be the telemetry processors preventing all telemetry to be sent.

[2022-03-18 11:27] luciantr24 opened #925 "TypeError: Cannot read property 'TELEMETRY_SDK_NAME' of undefined"
Hello, we have a node.js  microservice which is running on azure (windows machine with node 10.15.2 version), we were using **applicationinsights** version **2.2.0**, after updating to version _2.2.1 or 2.2.2_ an error started to occur when starting the application on the server . (locally there is no issue, I was able to run the application with both _2.2.1 and 2.2.2_). I checked also the files a

[2022-03-18 18:33] luciantr24 commented on #925
@hectorhdzg No, we are not using any OpenTelemetry package in our project. I've installed @opentelemetry/core@1.0.1 in our project as you suggested and the issue has been solved.

[2022-03-18 19:48] hectorhdzg commented on #925
@luciantr24 I'm not able to reproduce the issue in my side using @opentelemetry/core@1.1.0, if you can provide more details we can fix the root cause, so you don't have to install manually a specific version of that package and you actually get latest updates, sharing the Azure SDKs you are using including the versions of the packages and Application Insights SDK initialization code would be usefu

[2022-03-21 11:26] luciantr24 commented on #925
Hello @hectorhdzg . I did some package fixing in the service as we had some warnings on a package version. I uninstalled @opentelemetry/core and updated the dependency **node-fetch from 2.6.5 to 2.6.7** (required by @azure/core-http).  Everything is working as expected in Azure now without any issue with **applicationinsights** version **2.2.2** and no direct reference of @opentelemetry/core in th

[2022-03-21 17:20] #925 closed

[2022-03-22 21:14] orgads opened #926 "Credentials on basic authentication appear on the path"
When using `axios`:

[code]

The request dependency entry is logged as `http://user:s3cr37@server/path`, which is unsafe.

So far I found that `_getUrlFromRequestOptions` calls `url.format`, which includes the credentials if `auth` exists.

Is this intended? Is it possible to call `url.format` with `auth` stripped?

[2022-03-24 14:45] ConyKitty commented on #539
It occurred to me when I didn't connect to the internet. Once I connected to the internet, it works well, so that means debugging the office addin can't be in an offline state? I also notice that Script Lab can't work well offline.

[2022-03-25 07:27] devinrhode2 opened #928 "Option to write console logs to stdout (while still capturing them)"
I'd like to capture console logs/warn/error and send them to ApplicationInsights, but, I'd also like to see those send to stdout like normal.

When simulating production locally, running `next start`, I was getting an error that port 3000 was already in use. But, ApplicationInsights was swallowing this error.

[2022-03-25 07:49] devinrhode2 commented on #928
Actually, it seems that all my stdout is being swallowed somehow, doing `.setAutoCollectConsole(false, false)` has no effect on the issue.

I am using `next-logger`. It can also capture console.log/warn/error. Seems that ALL the std output is being funneled into AI and it doesn't necessarily forward all the input to stdout.

[2022-03-25 14:56] bmuskalla commented on #600
Is this a duplicate of #833 ?

[2022-03-25 17:11] devinrhode2 commented on #928
As I'm not sure this is an issue with ApplicationInsights sdk I'll close for now. Turn key integration with pino+next.js would be nice

[2022-03-25 17:11] #928 closed

[2022-03-28 19:07] rafagsiqueira opened #929 "SDK setup ignoring endpoint"
I believe I might have misunderstood the examples. When using the following code
[code]
with the following connection string:
`APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=xxxxxxxxxxxx;IngestionEndpoint=https://eastus2-3.in.applicationinsights.azure.com/`
I keep getting the following error:
`ApplicationInsights:CorrelationIdManager (1) [Error: getaddrinfo ENOTFOUND westus-0.in.applicat

[2022-03-28 20:58] devinrhode2 commented on #928
This WAS unrelated to this lib.

It may be interesting to have some option to transparently pipe all stderr/stdout BACK to the terminal, but I think applicationinsights may already be transparently collecting stdout/stderr.

It WOULD definitely be cool to have an option to see everything this lib is sending to azure in real time. The logs would be very excessive in a local terminal, but that's the

[2022-03-28 21:05] hectorhdzg commented on #928
@devinrhode2  we provide extra internal logging to understand what the SDK is doing using enableInternalDebugLogging in the SDK [config](https://github.com/microsoft/ApplicationInsights-node.js#configuration), if you want to see the actual telemetry that is being sent in the console you could use a [Telemetry Processor](https://github.com/microsoft/ApplicationInsights-node.js#preprocess-data-with-

[2022-03-29 10:09] MatejSkrbis opened #930 ".setAutoCollectDependencies(false) still collects dependencies"
I've updated the application insights package from **1.8.10** to **2.2.2**

Since the update the dependencies are getting collected even when `.setAutoCollectDependencies(false)` is set on setup.
Is there any other option to turn this off in newer version that I missed?

This function worked correctly before the update.

[2022-03-29 16:12] hectorhdzg commented on #930
Can you describe your environment a little more? is possible your dependencies are coming from different place; can you take a look at SDKVersion field in the unexpected telemetry and share it?

[2022-03-30 06:24] MatejSkrbis commented on #930
I'm using node 14, windows server 2016.
The dependencies started coming the moment I deployed the code to upgrade insights package from **1.8.10** to **2.2.2**. There were no dependencies in insights before that. There were only exceptions and some custom events which we logged.

SDK field in insights says **node:2.2.2**
The **application_Version** is matching with the latest package version which

[2022-03-31 13:59] alexg-axis opened #935 "TelemetryClient keeps handles open"
When running some code in a test using the `TelemetryClient`, Jest detects open handles.

Here's a basic replication which causes the issue.

[code]

If run using the `--detectOpenHandles` flag, the following error will be thrown.

[code]

I assumed this had to do with the use of a `https.Agent` internally and tried to specify one without any keep alive, but that didn't help.

[code]

I also tried

[2022-03-31 15:15] ArtemisMucaj opened #936 "Issue with appinsights in nodejs version > 14.15.4"
Hi,

We're encountering a strange issue with appinsights lib and it seems to be related to Node.js versions when used in conjunction with mongodb lib.

In Node.js version 14.15.4 it works just fine, when we use a higher version we get the error above.

Any ideas as to how we can fix this? Is this a known issue?

Thanks!

[2022-04-01 21:52] rcbevans opened #938 ""ApplicationInsights:Failed to load AI Web snippet" in webpack bundled node.js project"
Change #683 breaks webpack bundling of application insights.

[code]

https://github.com/microsoft/ApplicationInsights-node.js/commit/c4b5d3201afe6d81bb609e5f0c6371938ab9dfce#r70249203.

When bundling application insights as part of a node.js based application, `__dirname` gets resolved at runtime to be the path on disk of the bundled application, NOT the path of `AutoCollection/WebSnippet.ts` in

[2022-04-04 20:21] #938 closed

[2022-04-04 20:22] hectorhdzg commented on #938
We will be publishing version 2.3.1 with the fix today

[2022-04-05 08:59] Devir0R opened #941 "Logs of some users get saved on other users."
**Description/Screenshot**
![image](https://user-images.githubusercontent.com/35640096/161709452-a2406819-a7b1-4c01-90c2-b2d18db26099.png)
![image](https://user-images.githubusercontent.com/35640096/161709783-877e4d76-ab84-4cdf-b93a-cc3798bee9fa.png)
The Red marking hides once name, call it A, and the blue marking hides another name, call it B

this code is an interceptor that sits on all of the i

[2022-04-05 16:13] hectorhdzg commented on #941
The context is used to build the telemetry envelopes that eventually would be send to ingestion endpoint, every "track" call will use it, having different user_id properties mean your "intercept" method is called multiple times before the envelope is created in Application Insights, you must be able to ensure the correct user_id is being passed manually calling trackTrace API and providing the pro

[2022-04-05 16:14] hectorhdzg commented on #936
@ArtemisMucaj can you include the full error message here?, which file is generating the error?

[2022-04-05 20:42] cjwilsontech commented on #878
We had this issue running 2.1.8 in GKE. Downgrading to 1.8.10 as mentioned in the first post improved the issue significantly. Our containers were running out of memory within a day beforehand.

[2022-04-06 05:03] guy-microsoft commented on #878
In version 2.2.2 the situation seems to be better.

[2022-04-06 14:20] Devir0R commented on #941
Can you elaborate more?

[2022-04-06 14:37] devinrhode2 opened #942 "Contracts.SeverityLevel should not be an enum"
ApplicationInsights library code uses an enum here:
`node_modules/applicationinsights/out/Declarations/Contracts/Generated/SeverityLevel.d.t`
[code]

I don't know if there's a particularly good reason to use an enum here, I'd prefer this to be a const.

Here's my (wip) "user-land" code
[code]
https://stackoverflow.com/questions/63758383/how-do-i-a-union-type-of-string-values-from-an-enum

Q: Is th

[2022-04-06 14:41] devinrhode2 commented on #942
Probably we should just move away from using enums... this is not even a type-error:
<img width="446" alt="CleanShot 2022-04-06 at 09 40 14@2x" src="https://user-images.githubusercontent.com/539816/162000877-f034fd5a-397a-4a36-afcc-f3559fa1982d.png">

`SL` has type `string`

[2022-04-06 15:41] franher commented on #627
There is some news on this issue? I'm trying to get endpoints metrics by default, but they do not appear on the Application Insights, so probably they must be implemented customly. Do you have some examples of such implementation with Fastify? It could be great to see something to start my custom implementation.

Thank you!

[2022-04-06 16:17] hectorhdzg commented on #941
You could use Application Insights APIs to manually call trackTrace with the correct custom property you are adding, https://github.com/microsoft/ApplicationInsights-node.js#track-custom-telemetry

[2022-04-06 17:54] rcbevans commented on #938
Thanks for the quick turn around on this one!

[2022-04-07 00:57] devinrhode2 commented on #942
This is what I'm going with for now:
[code]

[2022-04-07 17:27] jonthysell opened #943 "Unable to prevent Statsbeat from starting programmatically"
The constructor for a new `TelemetryClient` creates a new default config, then uses its default `disableStatsBeat` property (which is false) to create and enable the StatsBeat.

The only way to influence that property is to set the environment variable or in the `applicationinsights.json` file.

I can only set the property **after** creating the client, but by then it's too late, the statsbeat has

[2022-04-07 17:29] jonthysell commented on #935
Have you tried disabling statsbeat? That's what was holding on to things in our jest tests.

https://github.com/microsoft/react-native-windows/pull/9801

Try disabling it via the environment variable:

[code]

Related bug? https://github.com/microsoft/ApplicationInsights-node.js/issues/943

[2022-04-08 07:01] alexg-axis commented on #935
At first, that didn't seem to work for me. Digging a bit deeper, it seems as if this might have been the culprit:

https://github.com/microsoft/ApplicationInsights-node.js/blob/c060888eb97d6a8d55366ebbfc49243f4f2794c4/Library/Config.ts#L118

And in turn, this part of the `CorrelationIdManager`:

https://github.com/microsoft/ApplicationInsights-node.js/blob/c060888eb97d6a8d55366ebbfc49243f4f2794c4/

[2022-04-08 07:05] alexg-axis commented on #935
I tried to log the `telemetryClient.config.correlationId` right after having created it and then at the end of the test - and sure enough, it's empty ("cid-v1:") at first, but set in the end.

[2022-04-12 00:14] jonthysell commented on #935
We had a workaround here to kill the CorrelationIdManager: https://github.com/microsoft/react-native-windows/commit/b6f8fd9bcab4e7d53467e35d2bc6892aec004bd2#diff-aee83d950f58adead81e3eb030b6e4af2d177e679cd9a2abd216e009ba2c3e0bL44

I took it out because the bug was supposed to be fixed, but now I'm seeing that my tests are flaky again.

[2022-04-12 16:03] BenjaminBertran commented on #930
Hi,
I confirm this behavior if these calls are made on a client:
- setup(key)
- dispose
- again setup(key)

Looking at the code, the variable isEnabled in HttpDependencies is not used [here](
https://github.com/microsoft/ApplicationInsights-node.js/blob/c060888eb97d6a8d55366ebbfc49243f4f2794c4/AutoCollection/HttpDependencies.ts#L79).
... && _this.isEnabled) should be added.
In the meantime, "inter

[2022-04-12 17:32] Apokalypt commented on #930
I agree with Benjamin's comment and I am able to reproduce the problem with the calls he indicated.

The developer's choice about whether or not to track dependencies is not really taken into account since the variable containing this information is only read before initialization. If this variable changes over time, the [trackRequest ](https://github.com/microsoft/ApplicationInsights-node.js/blob

[2022-04-12 18:58] hectorhdzg commented on #930
@MatejSkrbis are you also disposing the telemetry client at some point?, auto collection of dependencies could also be enabled through configuration file, please check if APPLICATIONINSIGHTS_CONFIGURATION_FILE env variable is present or if applicationinsights.json have the setting on, more info [here](https://github.com/microsoft/ApplicationInsights-node.js#configuration). @BenjaminBertran  and @A

[2022-04-12 19:07] Apokalypt commented on #930
For my part, the file is completely empty ( file content : '{ }' ). All properties are defined with their respective methods ( e.g. : .setAutoCollectDependencies(true) to collect dependencies automatically )
It is perhaps a different problem which is evoked initially but the result being identical (duplicate of collect) I thought that it was interesting to check and to evoke it 👍

[2022-04-12 19:19] Apokalypt opened #945 "Need clarification about the dispose() method"
After looking at the code to understand a bug mentioned in another issue I found some strange things about the operation of the [dispose()](https://github.com/microsoft/ApplicationInsights-node.js/blob/beta/applicationinsights.ts#L382) method.
I would like to understand its precise objective :
- Should this function reset the various properties to a default value so that the various methods ( like

[2022-04-12 20:36] hectorhdzg commented on #945
Should stop all automatic tracking and remove all telemetry processors that were added, setup need to be called again after calling dispose, not sure what you mean by "watches" we patch a lot of code and dispose is not actually removing these patches, we should not generate telemetry though(#946), about the actual internal implementation, there is a bunch of static classes so dispose doesn't mean

[2022-04-12 21:11] hectorhdzg commented on #935
Apparently, the open handles are basically HTTP requests that we send immediately when the TelemetryClient is instantiated, keepAlive=true in CorrelationIdManager was causing issues because the HTTP connection remain open for some time, even minutes, looks like in this case the test is faster than the actual HTTP call to be finished @alexg-axis if you wait one or two seconds is the handle gone?

[2022-04-12 21:21] Apokalypt commented on #945
I've called "watches" : tracking and telemetry processor ( I didn't know how to name both at the same time 😂 )

In fact, the current operation allowed me to notice some problems more or less related to the operation of the "dispose()" method. For example, for the automatic collection of HTTP requests [you overwrite the "http(s).createServer" prototype](https://github.com/microsoft/ApplicationInsig

[2022-04-12 21:34] hectorhdzg commented on #945
Yes you are right, all monkey patching including the one we do for native http modules will not work if application insights is not the first package to be loaded, we added some messages in [readme](https://github.com/microsoft/ApplicationInsights-node.js#basic-usage) mentioning this, is pretty common for customers to reach to us because there is no telemetry even if they configure the SDK correct

[2022-04-12 22:20] Apokalypt commented on #945
Yes I understand but I was wondering if trying to override the emit function to intercept when there was an emit('request', ...) call could work but apparently not...

The problem with the current management (I think it can be patched but not sure) is that if you call setup() then create the server (http.createServer()) and finally call .dispose() followed by .setup() the http requests are not tra

[2022-04-12 23:14] hectorhdzg commented on #945
Oh I see what you are saying, ideally we use similar approach as we do for other libraries like bunyan or mongodb, where a publisher patch the events and send the event to all subscribers, in this case the specific client is being patched instead, so if you create the server in between the other client is gone, I will consider that quite the edge case though, we are currently working on updating t

[2022-04-13 06:14] MatejSkrbis commented on #930
I am not disposing the telemetry client at any point. APPLICATIONINSIGHTS_CONFIGURATION_FILE is not present and I do not have applicationinsights.json settings file.

[2022-04-13 07:32] Apokalypt commented on #945
Ok I see.
On the other hand, is it possible to propose for this version a patch so that trackRequests are not stopped if you do a dispose and a setup after calling createServer? For example, this code would allow to continue to record the requests even if a dispose() and a setup() are called after the createServer ( the library still must be instanciated the first time before the createServer ) :

[2022-04-13 07:41] alexg-axis commented on #935
Yes, that seems as exactly what's going on here. Waiting for some seconds does let the `CorrelationIdManager` complete, thus closing the handle.

[2022-04-13 16:42] hectorhdzg commented on #945
@Apokalypt  Sorry is hard to see what the differences are here, feel free to submit a PR

[2022-04-13 16:46] hectorhdzg commented on #935
We could add a shutdown functionality in the TelemeryClient that actually wait for these requests, allowing you to wait for it on your tests, let me know if this will work for everyone, @alexg-axis, @jonthysell

[2022-04-13 16:48] Apokalypt commented on #945
I will make one, no problem 👍

[2022-04-19 07:58] #945 closed

[2022-04-20 15:49] fibsifan opened #949 "Auto correlation not working in apollo-gateway"
We're trying to use request correlation in apollo gateway. We want to correlate federated graphql requests in order to identify slow subgraphs.

Here's what we did: We set up an apollo-gateway as described in [the federation documentation](https://www.apollographql.com/docs/federation/gateway). And before anything else is called, we configure the applicationinsights as described in the [node.js do

[2022-04-22 17:29] robadurbin-gp opened #953 "TypeError [ERR_INVALID_CHAR]: Invalid character in header content ["x-ms-qps-machine-name"]"
After updating my dependency to "applicationinsights": "^2.2.2" I see an error because os.hostname() has an apostrophe and this value is not sanitized before being put into a header. I fixed this only by changing my machine's hostname with scutil --set HostName rob

Full stack trace
[code]

[2022-04-23 07:42] johnib opened #954 "Correlation context is changed for long running operations"
Hi, this is a tough one, appreciate your help;

## Setup

- node: `v16`
- application insights: `v2.1.4`
  - auto collection enabled (`dependencies`, `requests`, `exceptions`)
  - traces are sent via `winston` logger connected to application insights sink
- winston: `v3.3.3`
- winston-azure-application-insights: `v3.0.0`
- winston-transport: `v4.4.0`

### General info about the application

- This

[2022-04-25 16:43] fibsifan commented on #949
seems related to #566

[2022-05-01 09:08] Eden1999 commented on #941
@hectorhdzg Hello!
We've tried your advice, but we ran into a problem. When we set the user id as a custom property we can see in the logs that the user id was set, but we see it as a new custom property and not as a custom event property as we can see below.
![image](https://user-images.githubusercontent.com/37039608/166139284-bae76140-a320-446d-bf6c-120a4f2d929b.png)

Therefore, we cannot filter

[2022-05-02 20:32] PavelBansky commented on #331
What is the status of this problem? Can AppInsights team provide some update?

We are seeing the same issue, the Node.JS takes minutes (sometimes hours) finish the process that it's already completed.
This is very annoying since we are using in the Azure Dev Ops extension that is injected into every build.

[2022-05-02 21:51] cole-brown commented on #331
Nothing I tried worked, so I ended up just hard/ungracefully killing it after it was done and just waiting for AppInsights to notice:

[code]

But this isn't really an ideal solution...

[2022-05-02 23:01] PavelBansky opened #958 "AppInsights blocks Node.JS process from exiting for hours"
Even very simple telemetry submission code is preventing NodeJS process from exiting. Sometimes for minutes, sometimes for hours. The problem is especially noticeable on Mac OS X, where the delays are always at least a minutes.

This is being used in Azure DevOps extension, that adds build task into the pipeline. Adding minutes or hours to the build is really a big problem.

Removing AppInisghts m

[2022-05-03 08:44] DevRCRun opened #959 "Crash on loss of network connection since 2.3.1?"
We upgraded some applications to 2.3.1 last week and due to an infrastructure configuration issue lost network connection over the weekend.

The upgraded projects appear to have then exited with the following:

`<snip>\node_modules\applicationinsights\out\AutoCollection\Statsbeat.js:385
            this.enable(false); // Disable Statsbeat as is possible SDK is running in private or restricted netw

[2022-05-03 17:04] hectorhdzg commented on #941
@Eden1999 you can pass tagOverrides as well when calling trackEvent API, something like this:

`
let tagOverrides = {};
tagOverrides["ai.user.id"] = "TestUser";
appInsights.defaultClient.trackEvent({
    name: "TestEvent",
    tagOverrides: tagOverrides
});

`

[2022-05-03 21:24] hectorhdzg commented on #958
@PavelBansky  I need more information to determine the problem, hope you can help with that, can you enable debug and warning logs to see if there are any errors coming from the SDK?, also flush have a callback parameter that will be called when completed, can you try to wait for that callback? I wonder if this is related to the way Azure DevOps run the node.js process

[code]

[2022-05-03 22:09] hectorhdzg commented on #953
@robadurbin-gp which version of Node.js are you using?, can you share some hostname example, I tried apostrophes and tons of other ASCII characters and I'm not getting any error. Is this error triggered when looking at Live Metrics?

[2022-05-03 22:35] #959 closed

[2022-05-03 22:50] hectorhdzg commented on #954
@johnib correlation will be stored using [cls-hooked](https://www.npmjs.com/package/cls-hooked) or [continuation-local-storage](https://www.npmjs.com/search?q=continuation-local-storage) if using node.js < 8.2.x, these libraries will take care of multiple contexts by requests and associated callbacks, sounds like something is actually failing in the middle of the long request that is causing the i

[2022-05-06 00:16] lmolkova opened #963 "[Question] Is MongoDB 4 supported or planned?"
I'm running this sample https://github.com/Azure-Samples/todo-nodejs-mongo/tree/main/src/api, which uses Cosmos DB service via mongoose (and mongodb v4), and has Application Insights SDK set up, but I don't see any dependencies tracked.

It seems mongodb v4 is not supported:
https://github.com/microsoft/node-diagnostic-channel/blob/b334b96247b3eb3cd3d198a8a80f7c4f98e7b2b8/src/diagnostic-channel-pu

[2022-05-06 16:55] PavelBansky commented on #958
@hectorhdzg , I have tried both. Callback and not callback the result is always the same.

[code]

I will try with the debugging enabled.

[2022-05-06 21:24] hectorhdzg commented on #963
We are working on enabling usage of OpenTelemetry SDK internally in Application Insights SDK that will be in preview soon, MongoDB 4 is currently supported as experimental in [OpenTelemetry](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/opentelemetry-instrumentation-mongodb)

[2022-05-06 22:08] lmolkova commented on #963
@hectorhdzg thank you for the info!

[2022-05-09 09:10] DevRCRun commented on #963
Ah excellent, looks like tedious is in there as well :D

[2022-05-09 19:05] PavelBansky commented on #958
@hectorhdzg : I have enabled logging and see no warnings or errors on the console.

[code]

At this point we will have to drop AppInsights all together until this is resolved :(

[2022-05-09 19:12] hectorhdzg commented on #958
@PavelBansky I don't have repro of the issue and there are not logs so not much I can do here, if you can share you Azure DevOps build privately will be helpful

[2022-05-10 20:04] dhensby opened #966 "Semantic versioning?"
It's a bit concerning to see patch releases like https://github.com/microsoft/ApplicationInsights-node.js/releases/tag/2.3.3 where we have seen the following changes:

👍 #961 - fixing a bug
👎 #960 - changing a method signature in a breaking way
👎 #950 - new feature
👎 #948 - new feature

Does this library intend to follow [semantic versioning](https://semver.org/)? Only one of these changes should

[2022-05-10 20:17] hectorhdzg commented on #966
@dhensby we try to follow semantic versioning best we can, breaking change is in internal functionality that no one is supposed to be using that is why we didn't consider major version bump, if you are using it we can talk about what you should be using instead, and new features are for Web Snippet injection that is a feature still in preview, 2.4.0 make more sense now that I think about it but th

[2022-05-10 20:39] dhensby commented on #966
@hectorhdzg thanks for the prompt reply.

I'm not using any of these features that I can see, but I'm in the habit of checking the changelogs when I get a @dependabot PR to update my dependencies and so seeing this kinds of changes feel worrying in a patch release. I hadn't appreciated some of these methods were internal/private - I should have looked into that more before writing up this issue, a

[2022-05-11 00:24] hectorhdzg commented on #966
Thanks @dhensby for the feedback and suggestions, I will try to improve this process for future releases, I'm thinking about using some kind of label in the PR to quickly identify features and bugs, prefer that instead of branches, as merging could get messy, also classify them in the release notes would be useful as well, we are doing big refactoring for next major version that hopefully will tak

[2022-05-11 07:58] #966 closed

[2022-05-14 00:03] evandeininger commented on #627
@hectorhdzg Is there a place I can see the status of that work/when it's expected to be available? Thanks!

[2022-05-16 22:01] microsoft-github-policy-service[bot] opened #968 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-17 16:14] varungbt opened #970 "Application Insights request logs are not found with 2.3.3"
Request logs are not being pushed using the latest applicationinsights@2.3.3.

We have the standard initialization logic and see a successful response of type `Configuration` after initialization.
However, the request log generation has stopped working with this version.

Can you pls share details if there is a known issue?
[code]

[code]

[2022-05-18 17:03] hectorhdzg commented on #970
@varungbt can you double check applicationinsights is loaded first before native http modules? more info (here)[https://github.com/microsoft/ApplicationInsights-node.js#basic-usage]

[2022-05-25 21:18] jonthysell commented on #935
Yes, an explicit shutdown function we could wait on would be great.

[2022-05-26 13:50] varungbt commented on #970
@hectorhdzg  thanks and I was able to fix this. We recently had introduced other imports and this resulted in appinsights telemetry loss

[2022-05-26 16:23] timtucker-dte opened #972 "Examples for wrapping an Azure Functions timer trigger?"
All the Azure Functions examples are focused on wrapping http triggers.

Can we get an example for correlating the logs associated with the invocation of an Timer Trigger function?
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=in-process&pivots=programming-language-javascript

[2022-05-26 17:38] johnib opened #973 "How can I update the traceparent after the operation was started?"
I have the following setup:

- node v16
- applicationinsights v2.3.3
- auto collection fully enabled (requests, dependencies, etc.)
- expressjs v4

My app runs behind a proxy that **I cannot configure differently**, which alters the header names, including the `traceparent` header.
If the `AI sdk` doesn't see this header, it starts with a clean context -- and this is what I want to fix.

## Questi

[2022-05-27 16:04] hectorhdzg commented on #970
Closing this one, let us know if you any other issue

[2022-05-27 16:04] #970 closed

[2022-05-28 13:56] dfberry opened #975 "How to ensure PII doesn't make it into logs?"
There is probably a doc somewhere that discusses how to ensure PII isn't captured in logs but I can't find the doc. Is it linked in the package readme?

FYI - @diberry

[2022-05-31 16:35] hectorhdzg commented on #975
@dfberry can you elaborate on which PII data are you worried about?, you should be able to update the telemetry envelope and drop or update specific fields using telemetry processors more info [here](https://github.com/microsoft/ApplicationInsights-node.js#preprocess-data-with-telemetry-processors)

[2022-05-31 16:59] dfberry commented on #975
@hectorhdzg Is there a processor already created, maintained, and provided to remove PII or do you mean I have to create it?

[2022-05-31 17:00] hectorhdzg commented on #973
@johnib there is no way to update the header name to use to maintain the correlation in the SDK, you can manually track the requests and create the context using startOperation [method](https://github.com/microsoft/ApplicationInsights-node.js/blob/develop/applicationinsights.ts#L209), you can also get a reference to the current correlation context using getCurrentContext [method](https://github.co

[2022-05-31 17:44] timtucker-dte commented on #972
The issue was that there's no request for a timer.

I did some more looking and eventually found that startOperation had an alternate signature that took in a string instead of a request, then found that I could just pass context.executionContext.functionName to both that and the later call to trackRequest (as the name, instead of building it from the request URL).

Also needed to pass url as unde

[2022-06-02 15:04] Tyriar commented on #367
FYI we're still hitting this in VS Code where we run the module in an Electron window. https://github.com/microsoft/vscode/issues/151109

Even though it doesn't look like you specifically target web, you can prevent this exception by supporting both environments like so:

[code]

[2022-06-02 20:19] not-the-car commented on #953
I can reproduce this on Windows using the same version -  `2.2.2`. I triggered the error by renaming a VM's computer name to include a unicode symbol: `¢` -- so something like `mycomputer¢`

No visible effects to the user, but these errors are flooding our cloud telemetry.

[2022-06-02 23:19] robadurbin-gp commented on #953
@hectorhdzg I'm using node v16.14.2 and as it turns out, mac default computer names like `Rob's Computer` do not use a standard apostrophe ascii code 39, of course they went with the fancy unicode character 8217 so use this character and you should be able to reproduce this.

[2022-06-08 09:40] r0tc opened #978 "Changes in bunyan error reporting causes traces loss"
Few months ago I encountered problem with bunyan and traces/exceptions reporting #914, thank you for fixing the issue.
Now I try to move to recent lib version after the fix, but I'm not able due to changes introduced. Let's consider log like
`log.error({ err, otherProperty: value },  "Some error message...");`
In version 2.1.8 `otherProperty` will be logged to `traces` together with error and mess

[2022-06-08 17:22] maxnewbould opened #979 "Fix code sample in README.md"
README.md references an invalid method, fixed version below.

CORRECT:
[code]

BROKEN:
[code]

[2022-06-17 22:54] johnib commented on #954
Hey, I have better conjecture on what's causing this. It's unrelated directly to the duration of the operation, it just happens more frequent for long running ones.

What I believe is happening is that when the caller cancels the request, and `express` ends the request, my operation may be still running and producing telemetry, in which will have unexpected correlation.

@hectorhdzg can you share

[2022-06-17 23:00] hectorhdzg commented on #954
Application Insights code to handle the request "ending " is available [here](https://github.com/microsoft/ApplicationInsights-node.js/blob/develop/AutoCollection/HttpRequests.ts#L239), it should end the correlation and generate the request telemetry, is there a specific HTTP event being triggered in your case when the request is cancelled?

[2022-06-20 21:06] jak-hammond commented on #930
Is there any idea when this fix is going to be released, we've recently updated our dependencies and have seen a massive uptick in the amount of information being sent into App Insights instances, two specific event types alone in the Azure Storage SDK have been producing close to 22 million events in a 24 hour period despite us having explicitly turned off the auto-collection of dependencies.

In

[2022-06-21 10:03] jak-hammond commented on #930
Is this still an issue? I can see some code was merged, but after grabbing the latest `2.3.3` version from NPM and running a test with the below config, when I make a connection to a test blob storage account, I am still seeing 2 dependency events being logged in AI.

![image](https://user-images.githubusercontent.com/664193/174773858-10bbe316-eb87-4b04-ab3f-b99f9483c274.png)

[2022-06-21 18:32] johnib commented on #954
We'll, the thing is @hectorhdzg, the fact that the request ended, doesn't mean that all related telemetry has been generated yet, nor the triggered flows have been terminated.

In my case, even though the request can be canceled by the client, I may proceed with the operation it was waiting for.

In such case, all telemetry produced will be set with correlation to other operations (unrelated ones)

[2022-06-21 23:26] hectorhdzg commented on #930
@MatejSkrbis are the dependencies you were seeing related to Azure SDK calls? if that is the case, I can close this issue with related changes.

[2022-06-21 23:40] hectorhdzg commented on #954
@johnib context should be maintained for all code executed in the request, the SDK will bind to cls-hooked session/workspace [here](https://github.com/microsoft/ApplicationInsights-node.js/blob/develop/AutoCollection/HttpRequests.ts#L110), code I share before just end the request and create the telemetry is not actually ending the context, that will be done automatically by cls-hooked when all cod

[2022-06-22 05:55] MatejSkrbis commented on #930
@hectorhdzg I do not understand what you are asking me. I just described my issue and downgraded application insights to 1.8.10 and have no intention to update it back until this issue is fixed.

[2022-06-22 18:21] #930 closed

[2022-06-23 08:39] Burgov opened #983 "How do I connect server requests and background jobs?"
I'm trying to achieve something like in this screenshot:

![image](https://user-images.githubusercontent.com/417674/175253628-8afc58d8-dfcb-4c42-b589-727e356fcc10.png)

So there is one request, and it triggers two background jobs.

What I've tried to far is when I create the job, I set the operation Id in the job's data like this:

[code]

Then then in the processor I create a new contact using th

[2022-06-23 11:37] davidmssantander opened #984 "trackDependency not send duration"
Hello, I am using the following method.

client.trackDependency({target:"http://dbname", name:"select customers proc", data:"SELECT * FROM Customers", duration:231, resultCode:0, success: true, dependencyTypeName: "ZSQL"});

But in application insight it appears empty in the duration field.

![image](https://user-images.githubusercontent.com/105428595/175289742-74e742a7-2f13-4814-a78a-1d2f40e87979

[2022-06-23 13:20] Burgov commented on #984
you'll have to keep track of the duration yourself. AI has no way of knowing how long it too.

something like:

[code]

[2022-06-23 14:16] davidmssantander commented on #984
Yes, we do that, what I mean is that we send the value, but in applicationInsights it always shows zero.

[2022-06-24 09:39] #983 closed

[2022-06-24 18:37] johnib commented on #983
In general this is the structure/hierarchy:

All `requests` under the same `operation_Id` would be visible in the spans view that you showed:

[code]

For a single `request`, `dependency` calls are associated and grouped, if the `request.id` equals the `dependency.operation_ParentId` (i.e. the `id` column of the `request` event equals the `operation_ParentId` of the `dependency` event)

You'd be a

[2022-06-27 06:58] tudor33sud commented on #903
Hello! I've been having the same issue as specified by @orgads .

The main workflow I was trying to fulfill using function apps was the following:

1. have a sender component which will defer async work to some worker component through service bus
2. the worker should receive service bus message, do certain calls to different microservices and fulfill the message
3. I would like all the subcalls a

[2022-06-29 10:37] johnib commented on #973
Was a bit tricky, but made it work eventually.
Had to:

- Extract the `traceparent` value from the custom header and use it to override the `appInsights.getCorrelationContext().operation` fields
  - as soon as possible (first middleware set on the `express` app)
  - at this point, the `request` telemetry item is already created and initialized with random correlation IDs (hence the second bullet)

[2022-06-30 21:30] johnib commented on #903
Check this out:

https://github.com/microsoft/ApplicationInsights-node.js/issues/973

[2022-07-01 12:31] antoine-coulon commented on #331
Is there any update on this? It seems like there is still a problem with the Node.js sdk, I'm not able to shut it down gracefully using everything described here `flush`, `dispose`

[2022-07-01 15:21] antoine-coulon commented on #958
Hey @hectorhdzg,

I'm currently having the same problem here on 2.3.3 on MacOS with Node.js 16.14.0 with a very minimalist repro:

[code]

When starting the script, the Node.js process hangs during few minutes before exiting 7 times out of 10 (from what I could observe). It happens that the process exits directly but it's clearly not consistent.

Do you have any information to share about that?

T

[2022-07-03 20:28] johnib opened #987 "getCorrelationContext() returns different traceparent in same operation before/after dependency call"
Hi,

I have a regular `express` API, which executes some simple flow involving a call to some dependency.
I make use of the `traceparent` object available from `appInsights.getCorrelationContext()` and I've noticed that it changes **after** making a dependency call.

Here's the simple code I've used to track the changes:

[code]

See below picture for the actual diff.

- Is this the expected behav

[2022-07-05 23:52] hectorhdzg commented on #958
@antoine-coulon flush method have a callback you can pass to ensure is done; can you try that?

[code]

[2022-07-06 15:19] antoine-coulon commented on #958
@hectorhdzg I already tried it as you were already suggesting it but it doesn't work either.
The callback is invoked with `{"itemsReceived":1,"itemsAccepted":1,"errors":[]}` which seems expected after the trigger of the HTTP request. However, the process still hangs afterwards.

Here is an example with an even more minimalist reproduction:

[code]

Do you agree on the fact that this should allow t

[2022-07-06 20:48] hectorhdzg commented on #958
@antoine-coulon I cannot reproduce in Windows or Linux but I'm working on getting a MacOS machine to try it out, is there something else involved in your repro? any other packages or code that could be affecting the behavior?

[2022-07-06 21:18] hectorhdzg commented on #903
@tudor33sud both options look fine to me, I can look into the issue you are having with option 1, that should work too, can you provide some test traceParent that you are passing in service bus message?

[2022-07-06 21:30] hectorhdzg commented on #975
@dfberry closing this issue because like I mentioned before the SDK doesn't generate PII automatically, let us know if you have more questions.

[2022-07-06 21:30] #975 closed

[2022-07-06 22:08] hectorhdzg commented on #984
Can you double check an actual duration is being sent? code you shared is generating dependency with duration for me

![image](https://user-images.githubusercontent.com/39923391/177651663-fa180f8b-c443-44f6-a0df-0457c2dbe19e.png)

[2022-07-06 22:12] antoine-coulon commented on #958
@hectorhdzg no nothing else, I've just tested it in a raw project with only the `appinsights` dependency.

As a reminder here is my setup:
OS: `MacOS Big Sur 11.5.1`
Node.js: `16.14.0` & `18.4.0`
appinsights: `*`

[2022-07-07 17:21] johnib commented on #987
I'm trying to achieve manual correlation Blair how other micro services, by providing the correct traceparent value on the dependency call, so the receiver (another micro service of mine) can correlate correctly.

Updating the spanId of the existing correlation context, after each dependency call being made as part of this request, makes my manual correlation inconsistent and often wrong.

If the

[2022-07-13 10:00] krystianolech opened #990 "Log full transaction on failed request with sampling enabled"
Hi,
I try to implement an approach where logging sampling is enabled but in case of failer, the whole request is logged.
Normally when I set sampling and request will be "nominated" to be skipped, then I will not get all logs even when the transaction had an error.
To overcome that I added a custom telemetry processor that is ensuring a log is sent when a request fails. This however affects only r

[2022-07-13 17:01] hectorhdzg commented on #990
@krystianolech unfortunately we do not support that in the SDK, like you mentioned the root request could fail once all the other telemetry was already generated, we sample using a hash of the operationId that is used to identify the distributed trace, so when a request is sampled all the telemetry associated will be sampled as well, in your case with your telemetry processor your failed request c

[2022-07-18 19:15] #968 closed

[2022-07-19 02:31] mdv27 opened #993 "ApplicationInsights does not track the blob storage dependency"
As per the [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-dependencies#automatically-tracked-dependencies) blob storage interaction should be tracked, however application map in Application insights does not for me.
I have added custom setup as below which also does not work.

[code]
Is there any option to setup manually tracking of dependencies?

[2022-07-20 20:50] JacksonWeber commented on #993
I was able to see the interaction with Azure blob storage on the Application Map and in the Application Insights logs. Can I confirm that you're on the latest version of Application Insights and the Azure SDK?

[2022-07-21 20:41] hectorhdzg commented on #984
Closing as this is apparently not an issue, please create a new issue with more details if you are still having problems.

[2022-07-21 20:41] #984 closed

[2022-07-22 16:16] hectorhdzg opened #995 "Automatic tracking of incoming requests not enabled when createServer is not called"
Current code rely on createServer to be called to start generatign the telemetry, we need to support other use cases like the following

`
const express = require('express');
const http = require("http");
var app = express();
 let server = http.Server(app);
`

[2022-07-23 22:06] JacksonWeber commented on #953
@robadurbin-gp I was able to connect to Application Insights (specifically QuickPulse which appears to be throwing the error from your stack trace) on a macOS machine with a machine name including Unicode (tested with a few different characters). From my testing it appeared to be sanitizing the machine name input at some point since the machine name displayed on the Azure Portal didn't contain any

[2022-07-26 16:12] sylvain-bodin opened #996 "Environment variable not detected with import déclaration"
Migrating from version 2.3.1 to 2.3.2, my application didn't startup now, with the deprecation of iKey.
I use `dotenv` to load my environment variable.
[code]

When I start my application (with an express server for exemple)
[code]

I get this error
[code]

[2022-07-26 16:28] hectorhdzg commented on #996
@sylvain-bodin following code works fine to me, is possible something is wrong with the value you set in the actual environment variable, please double check and let us know.

`process.env["APPLICATIONINSIGHTS_CONNECTION_STRING"] = "InstrumentationKey=00000000-0000-0000-0000-000000000000;IngestionEndpoint=https://westeurope-4.in.applicationinsights.azure.com/;LiveEndpoint=https://westeurope.livedi

[2022-07-27 07:14] sylvain-bodin commented on #996
@hectorhdzg I already test that kind of code, and yes it works. But I'm coding in Typescript. And when you use `import` instead of `require` to load library it doesn't work.
It seems that the new code get value from the env variable when initializing the library (in JsonConfig) when the previous code was loading values at the startup `start()`.

[2022-07-28 22:44] hectorhdzg commented on #996
@sylvain-bodin please load your environment variables before importing applicationinsights module to solve the issue.

[code]

[2022-07-29 10:11] sylvain-bodin commented on #996
Thanks @hectorhdzg for this.
But yet, it's not that simple :)
In my project, I use linter and formatter, and so, all imports are then put at the top of the file.
Maybe I'm the only one using it like this and having trouble with these changes of the library.

[2022-07-30 06:37] mdv27 commented on #993
Hi @JacksonWeber,  I have below versions. When manually tracked dependency, it does populate the application Map with blob storage entries. It would be good if that happens automatically as azure sdk is used for blob storage interaction.

- Dependency versions:
"@azure/storage-blob": "^12.5.0"
"applicationinsights": "^2.3.1"

- Manual tracking:
`appInsights.TelemetryClient.trackDependency()`

- Bl

[2022-08-01 16:57] hectorhdzg commented on #996
We will need to investigate this one a little further to ensure environment variables are not read when the SDK is imported.

[2022-08-01 18:24] JacksonWeber commented on #993
@mdv27 I was able to get the Application Map to populate the dependencies without manual tracking just using the standard `appInsights.setup()` statement. What happens for you without adding the manual tracking statements?

If nothing is being displayed when the manual tracking statement is removed in the application map, could you update the applicationinsights and azure blob storage dependencies

[2022-08-02 00:39] JamieMagee commented on #958
Is it possible to add timeouts to all HTTP calls? This falls under CWE-1088[^1]:

[^1]: https://cwe.mitre.org/data/definitions/1088.html

[2022-08-02 21:10] hectorhdzg commented on #995
Investigate if OpenTelemetry HTTP isntrumentation support this

[2022-08-03 20:55] 1kevgriff opened #1000 "Warning: Not saving data due to max size limit being met"
Hey all,

We've recently started running into an issue on a server where we see the warning:

Running on node: 14.15.5
AppInsights package: ^2.3.4

I don't see any previous issues on this problem, so any insights into helping us remedy it would be awesome.

Thanks!

[2022-08-03 21:47] hectorhdzg commented on #1000
@1kevgriff we have some retry logic for whenever telemetry cannot reach the ingestion endpoint in the SDK, for that we store the telemetry in disk and will try to send it again when we start getting 200 responses, is possible your application is failing to reach ingestion endpoint and causing the telemetry stored in disk to pile up, you can take a look at the files in "/tmp" for Linux or "USERDIR/

[2022-08-04 12:52] 1kevgriff commented on #1000
Oh ok, I cleared out `/tmp` (we're on linux).  It seems like some telemetry is getting through, our dashboard on the portal is populating and live metrics are coming through.

I'll keep an eye on this and see if the error pops back up.

[2022-08-05 19:29] 1kevgriff commented on #1000
Clearing `/tmp` worked temporarily.  But it fills back up after a bit.

It's weird because I see telemetry coming through.

[2022-08-11 22:49] #958 closed

[2022-08-18 22:13] hectorhdzg commented on #1000
@1kevgriff is the issue still going?, you can enable extra logging and same errors on log file to further understand why the telemetry is failing to be delivered, more info [here](https://github.com/microsoft/ApplicationInsights-node.js#self-diagnostics)

[2022-08-19 12:06] 1kevgriff commented on #1000
I believe it is - let me get some more debugging information for you.

[2022-08-19 18:13] 1kevgriff commented on #1000
@hectorhdzg We ran diagnostics for about 20 minutes, and here are the logs we received.

[code]

We're not doing anything too special:

[code]

[2022-08-29 12:14] christianvanr commented on #1000
@hectorhdzg Good to see that there a solution, We are having exactly the same issues, do you have an indication of when you're PR is merged and the new version is available?

[2022-09-06 17:13] #1000 closed

[2022-09-06 17:46] hectorhdzg commented on #1000
@christianvanr we will be releasing a new version of the SDK this week.

[2022-09-07 23:39] pcone opened #1009 "No common AppInsights interface between ApplicationInsights-node and ApplicationInsights-js"
So my understanding is that code running on node should be using this library, while code running in browsers should be using
[ApplicationInsights-JS](https://github.com/microsoft/ApplicationInsights-JS).

I have code shared between frontend and backend where I'd like to just have the same AppInsights interface available. It seems like [TelemetryClient](https://github.com/microsoft/ApplicationInsi

[2022-09-12 10:41] LitalReuveni commented on #990
@hectorhdzg Is it possible / there are plans to extend the SDK so it would support this scenario?

[2022-09-12 16:18] hectorhdzg commented on #990
@LitalReuveni we are not adding support for full transaction logging for failed requests when sampling is enabled, that will require big changes on how the sampling works in this SDK and will add extra overhead of keeping failed requests trace ID information.

[2022-09-12 16:18] #990 closed

[2022-09-13 18:48] hectorhdzg commented on #896
@nulltoken is this still an issue for you?, can you share more details

[2022-09-16 14:58] DevRCRun commented on #804
We're also encountering this with a slightly different "SyntaxError: Unexpected string in JSON"

We are not adding our own telemetryProcessors, sending custom events or adding extra custom properties to other events.

Could it be collecting the console logs causing the issue?

`  const appInsights = require('applicationinsights')
  appInsights
    .setup()
    .setAutoCollectConsole(true, true)

[2022-09-16 16:29] hectorhdzg commented on #804
@DevRCRun is possible, JSON serialization could happen with any field in the envelope, you can try what I suggested before to find which envelope is causing the issue.

[2022-09-20 09:25] PhantomRay opened #1013 "2.3.5 generate MaxListenerExceededWarning: Possible EventEmitter memory leak detected"
I recently upgrade my project's AppInsights dependency from 1.x to 2.3.5. I see these lines
[code]

Any thoughts? Thanks.

[2022-09-20 17:34] hectorhdzg commented on #878
@PhantomRay can you double check that class "AzureApplicationInsightLogger"? I don't believe that one is coming from this SDK

[2022-09-21 00:12] #1013 closed, assigned to nobody

[2022-09-23 10:13] nulltoken commented on #896
@hectorhdzg Sorry for the delay. I've completely missed your message from March, 15th. I'll come back to you in the following days with some answers.

[2022-09-26 12:24] nulltoken commented on #896
Node v16.17.0

**dependencyHeaders.js:**

[code]

where

-  filterAIHeadersFrom removes 'request-context', 'request-id', 'x-ms-request-id', 'x-ms-request-root-id' from headers
-  cleanAuth obfuscates content of headers known to hold sensitive information

[2022-09-27 18:54] hectorhdzg commented on #890
@PJBCoetzer is this still an issue for you?, the SDK should not crash under any circumstances, can you try to update to latest?

[2022-09-28 17:20] ChuckJonas opened #1016 "Published Service Bus messages do not persist correlation (`traceparent`) into `Diagnostic-Id`"
According to the docs for distributed logging with service bus, the WC3 `traceparent` header should be persisted to the message  `Diagnostic-Id` property.

However, in my testing this does not seem to happen.

[code]

The resulting Message has a different `Diagnostic-Id` to the current `correlationContext.operation.parentId`

Should it not pickup the `tracecontext` by default?  The docs seem very

[2022-09-30 17:58] GravlLift opened #1017 "EnvelopeTelemetry tags type seems wrong"
The type of envelope telemetry seems to be incorrect in the data contracts:

https://github.com/microsoft/ApplicationInsights-node.js/blob/cb098755d5a80c471e342a11e0babae5fd38c04f/Declarations/Contracts/TelemetryTypes/EnvelopeTelemetry.ts#L34-L37

Is that supposed to be `Tags | Tags[]` or is the tag property really supposed to be both an object and array simultaneously?

[2022-09-30 19:07] hectorhdzg commented on #1017
@GravlLift looks like contracts are outdated here, tags should be an object like this `{[propertyName: string]: string }`

[2022-09-30 19:15] GravlLift commented on #1017
The `Tags` interface below that mostly matches that format, it's really only the union of the array type that stops this from being accurate.

https://github.com/microsoft/ApplicationInsights-node.js/blob/cb098755d5a80c471e342a11e0babae5fd38c04f/Declarations/Contracts/TelemetryTypes/EnvelopeTelemetry.ts#L61-L66

[2022-09-30 20:04] hectorhdzg commented on #1016
@ChuckJonas can you share docs you are referring to? I'm not really familiar with Diagnostic-Id property

[2022-09-30 20:37] ChuckJonas commented on #1016
ya Sorry, I thought I had included it:

https://learn.microsoft.com/en-us/azure/service-bus-messaging/service-bus-end-to-end-tracing?tabs=net-standard-sdk-2

[2022-10-09 10:50] vvolodin commented on #630
Why is this issue closed? This is broken behaviour in capturing logs from 3rd party loggers which is not described in any documentation. Of course, it's beneficial from the financial point of view to log as much as possible to azure for those sweet fat invoices, right Microsoft?

[2022-10-11 19:18] vvolodin commented on #630
Well, thanks for not doing anything about it... We just removed app insights from our application, since neither paying for debug messages (when debug level is disabled) nor overhauling our logging code seemed like a good idea.

[2022-10-18 02:55] Yao544303 opened #1022 "Exceptions of tracked dependency calls after upgrade Application Insights from 2.1.3 to 2.3.5"
After upgrade the Application Insights from 2.1.3 to 2.3.5, there is exceptions as the screen shot below.
<img width="1102" alt="Screen Shot 2022-10-18 at 10 41 35" src="https://user-images.githubusercontent.com/6713442/196324393-9ed90e98-ba16-4f08-a30d-8007b272a1ee.png">

All the  operation_Id and operation_Name of these exceptions are "". And the request near these exceptions are all success.

I

[2022-10-21 07:53] pfefferf opened #1023 "Duplicate requests tracked (one with timeout) + depencency tracked with timeout"
### Environment

- applicationinsights version: 2.3.5
- Node: 16.17.1
- using axios package for https requests

### Issue
Recently we updated from an old applicationinsights version 1.7.2 to the newest version 2.3.5. Starting with that we see following entries in application insights:
![image](https://user-images.githubusercontent.com/9888617/197141975-54c9a920-3f23-45d0-803b-445e0ebb2512.png)

Th

[2022-10-22 00:18] hectorhdzg commented on #1022
the actual URL could be helpful to understand why it fails to parse it, are you manually calling trackDependency or auto generated telemetry?

[2022-10-24 02:24] Yao544303 commented on #1022
Greetings @hectorhdzg , I do manually calling the trackDependency, any changes in this API?

[2022-10-24 16:39] hectorhdzg commented on #1022
We updated URL parsing in 2.1.5, you can look at #793, this could cause trouble if native URL library finds the URL format you are sending in "data" parameter to be incorrect

[2022-10-25 02:57] Yao544303 commented on #1022
@hectorhdzg Great!  This is the root cause.

[2022-10-25 02:57] #1022 closed

[2022-10-26 15:12] nulltoken commented on #896
@hectorhdzg We've just discovered that we've got "reproducible" duplicates. Would you be interested in taking a peek, we'd be happy to setup a screen share.

[2022-10-26 23:00] #896 closed

[2022-10-26 23:00] #1023 closed

[2022-10-28 06:40] murbanowicz commented on #627
@hectorhdzg I can see Fastify being pushed forward in that OT library, but how does it impact Application Insights auto instrumentation?

[2022-11-04 14:43] ArtemisMucaj commented on #963
Hi

@hectorhdzg Any news regarding this issue ? :)

[2022-11-07 14:25] nulltoken commented on #896
@hectorhdzg Just confirmed that the change fixed our duplicate issue as well.

Tons of thanks !

:heart:

[2022-11-07 21:14] hectorhdzg opened #1031 "Enable Live Metrics by default"

[2022-11-10 00:41] jeremymeng opened #1033 "migrate from @azure/core-http to @azure/core-rest-pipeline"
We should move to @azure/core-rest-pipeline which is newer and modern version of our azure core library.  Looks that the usage of core-http include

- `bearerTokenAuthenticationPolicy`.  Is this internal usage only?
- `TokenCredential` interface

[2022-11-16 20:40] rcbevans commented on #935
I was able to mitigate this by wrapping appInsights initialization in an env check, and then exporting the defaultClient from the module as TelemetryClient | undefined.

Setting all the options for automatic dependency collection etc to false didn't prevent the handle being opened.

I was hoping appInsights.dispose() would have cleaned up sufficiently.

[2022-11-17 06:42] rudfoss opened #1037 "Duplicate traces when debugging locally"
For a while now I've seen duplicate traces reported from my NestJS application custom logger that sends logs to Application Insights. After debugging for a while I think I've eliminated my code as the culprit. The entire script for reproducing the issue is included below. I'm on version `2.3.6` of the `applicationinsights` package.

Turning on internal logging seems to indicate the issue is not on

[2022-11-17 08:22] rudfoss commented on #1037
After some more debugging it seems that it has something to do with my specific Application Insights instance. When I created a new one manually it did not duplicate messages. I'm trying to pin down the configuration differences now, but so far they seem identical. I'm closing this case as it does not seem to be a problem with the `applicationinsights` library itself.

[2022-11-17 08:22] #1037 closed

[2022-11-17 17:41] hectorhdzg commented on #963
@ArtemisMucaj you should be able to get telemetry from MongoDB 4 using newer beta version of this SDK, more info [here](https://github.com/microsoft/ApplicationInsights-node.js/tree/beta#readme)

[2022-11-17 19:59] He-Wolf opened #1038 "Distributed tracing issues in Node.js Azure Function App - No Correlation"
I created a Azure Function App with two functions:
1. [HttpTrigger] http-triggered function that sends an EventGrid event in CloudEvent schema to a topic
2. [CloudEventsTrigger] http-triggered function that subscribes to the EventGrid topic using CloudEvent schema (webhook)

After triggering the first function, I see that the two functions have different Operation ID and traceparent.

What I under

[2022-11-27 00:25] GravlLift commented on #754
Hey @MuhamedSalihSeyedIbrahim (and anyone else who stumbles across this thread), I was able to get distributed log correlation working in NodeJS functions while using durable functions.

Using the [context propagation described in the README of this repo](https://github.com/microsoft/ApplicationInsights-node.js/blob/2f626c2cfe6a11e6d383f8f75da300f77a30fee4/README.md#azure-functions) on activity tr

[2022-11-27 16:34] MuhamedSalihSeyedIbrahim commented on #754
@hectorhdzg / Team - Thanks for implementation

@GravlLift -
I glad you're confirming it.

I have requested this feature 2y ago but now I am out of that project.
Therefore I requesting you (if you wish)
Kindly attach a screen shot (if any) and sample config/code/deps versions used to achieve this correlation of logs, in this thread for record purpose and I shall close this issue.

This may help fu

[2022-11-28 18:53] jeremymeng commented on #1033
PR #1040

[2022-11-28 18:53] #1033 closed

[2022-11-30 11:06] paddotk opened #1042 "SyntaxError: missing ) after argument list"
My coworker added this package in our Nuxt/Vue app, though `yarn`, and it works for him. I then installed the package (also through yarn), then try to run the app, and I get the following error:
[code]

My coworker uses a Macbook and I'm on Windows, if that makes any difference.

**Versions**
`applicationinsights`: ^2.3.6
OS: Windows 10
Node: v16.14.2
Yarn: v1.22.11

[2022-11-30 12:39] paddotk commented on #1042
Sorry, it seems this came from another issue. Closing.

[2022-11-30 12:39] #1042 closed